{% extends "layout.html"%} {% block content %}
<div class="jumbotron">
  <h4 class="display-4">About</h4>
  <p class="lead">
    Know what I do:
  </p>

  <a
    type="button"
    class="btn btn-elegant px-3"
    href="https://github.com/luisfuentech"
    target="_blank"
  >
    <i class="fab fa-github" aria-hidden="true"></i>
  </a>

  <a
    type="button"
    class="btn btn-purple px-3"
    href="https://instagram.com/luisfuentech"
    target="_blank"
  >
    <i class="fab fa-instagram" aria-hidden="true"></i>
  </a>

  <a
    type="button"
    class="btn btn-primary px-3"
    href="https://twitter.com/luisfuentech"
    target="_blank"
  >
    <i class="fab fa-twitter" aria-hidden="true"></i>
  </a>

  <a
    type="button"
    class="btn btn-danger px-3"
    href="https://www.youtube.com/watch?v=fxavwHPJ36o"
    target="_blank"
  >
    <i class="fab fa-youtube" aria-hidden="true"></i>
  </a>
</div>
{% endblock %}
